#groups
  %h4 Ruby User Groups in Europe
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .group
    %a{:href => '#'} Group Name
    %p City, Country
  .actions
    %ul
      -#%li.prev Previous 10 Groups
      %li.add Add a Group
      -#%li.next Next 10 Groups