%form.groupform{:action => '/groups', :method => 'post'}
  %p
    %label{:for => 'name'} Nome
    %input{:name => 'name', :type => 'text'}
  %p
    %label{:for => 'city'} Cidade
    %input{:name => 'city', :type => 'text'}
  %p
    %label{:for => 'country'} País
    %select{:name => 'country'}
      - for country in @countries
        %option{:value => country.code}= country.name
  %p
    %label{:for => 'website'} Site
    %input{:name => 'website', :type => 'text'}
  %input{:type => 'submit', :value => 'Adicione Grupo'}