#groups
  %h4 latest groups added
  .group
    %a{:href => '#'} Group Name #1
    %p City, Country
  .group
    %a{:href => '#'} Group Name #2
    %p City, Country
  .group
    %a{:href => '#'} Group Name #3
    %p City, Country
  .group
    %a{:href => '#'} Group Name #4
    %p City, Country
  .group
    %a{:href => '#'} Group Name #5
    %p City, Country

#events
  %h4 upcoming events
  .event
    %a{:href => '#'} Event #1
    %p City, Country
  .event
    %a{:href => '#'} Event #2
    %p City, Country
  .event
    %a{:href => '#'} Event #3
    %p City, Country
  .event
    %a{:href => '#'} Event #4
    %p City, Country
  .event
    %a{:href => '#'} Event #5
    %p City, Country