#groups
  %h4 latest groups added
  - if @groups.empty?
    .group
      %p There are no Groups added yet.
  - else
    - for group in @groups
      .group
        %img{:src => "/images/flags/#{group.country_code.downcase}.png"}
        - if group.website.empty?
          %p.name= group.name
        - else
          %p.name<
            %a{:href => group.website}= group.name
        %p= group.city