%html
  %head
    %meta{:name => 'description', :content => 'Rubistas.com.br é o website onde Rubistas Brasileiros e Comunidades se encontram!'}
    %meta{:name => 'keywords', :content => 'Ruby, RUG, Brasil, Rubistas, comunidades, compartilhamento de informacoes, troca de experiencias, projetos, colaboracao, encontros, eventos, redes, integracao'}
    %meta{:name => 'author', :content => 'Amsterdam Ruby User Group'}
    -#%meta{:name => 'reply-to', :content => 'info@rubyists.eu'}
    -#%meta{:name => 'copyright', :content => 'copyright © 2009 All right reserved.'}
    -#%meta{:name => 'date', :content => ''}
    %meta{:name => 'robots', :content => 'Index, Follow'}
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Rubistas no Brasil
    - google_maps_key = "ABQIAAAA88oEEVVez4-D0qgrvFsqyhRxnAyi9w6iwBvIlnUe2yO6Gbt7DBTivKjs7ipCLzrtBN8U2DQQXC0Stg"
    %script{:type => 'text/javascript', :src => "http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=#{google_maps_key}"}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/scripts/application.js'}
    %link{:type => 'text/css', :href => '/styles/application.css', :rel => 'stylesheet'}
  %body
    #header
      .title
      .menu
        %ul
          %li.about Sobre
          %li.groups Grupos
          -#%li.search Search
    #map
    #content
      = yield
    #dialog
      .close
      .text
    #footer
      %ul
        %li.ondetrabalhar OndeTrabalhar
        %li.linkedin LinkedIn
        %li.facebook Facebook
        %li.twitter Twitter
        %li.mailing Lista de Mensagens
        %li.irc Irc
        %li.involved Participe
        %li.license Licença
    #license
      %span{:"xmlns:dc" => 'http://purl.org/dc/elements/1.1/', :property => 'dc:title'} Rubistas.com.br
      por
      %a{:"xmlns:cc" => "http://creativecommons.org/ns#", :href => 'http://rock-n-code.com', :property => 'cc:attributionName', :rel => 'cc:attributionURL'} AkitaOnRails
      está licenciado sobre a
      %a{:href => 'http://creativecommons.org/licenses/by-nc-sa/3.0/', :rel => 'license'} Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License
    %script{:type => 'text/javascript'}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {var pageTracker = _gat._getTracker("UA-7181438-5"); pageTracker._trackPageview();} catch(err) {}