=floating_block(!value)
  position: absolute
  z-index= !value

body
  padding: 0px
  margin: 0px
  font:
    size: 12pt
    family: Helvetica, "Helvetica Neue", Sans-serif
  
  #header
    +floating_block(999)
    width: 500px
    height: 70px
    top: 5px
    right: 0px
    margin: 0px

    .title
      +floating_block(1000)
      width: 60px
      height: 60px
      right: 20px
      background:
        image: url("/images/rubyists-eu.png")
        position: top center
        repeat: no-repeat

    .menu
      +floating_block(999)
      width: 400px
      height: 36px
      top: 14px
      right: 0px
      background-color: darkblue

      ul
        margin-left: 0px
        margin-right: 25px

        li
          float: left
          margin-top: -12px
          padding: 5px 10px
          color: white
          text-transform: uppercase

  #map
    float: right
    width: 100%
    height: 100%
    padding: 0px

  #content
    +floating_block(999)
    position: relative
    width: 100%

  #dialog
    +floating_block(1000)
    top: 0
    left: 0
    right: 0
    text-align: center
    font-size: 3em
    background: green
    border-bottom: 0.1em solid black
    display: none

  #footer
    +floating_block(999)